---
- name: Allow target user to run pacman without password (for AUR)
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/aur-temp
    line: "{{ ansible_facts['user_id'] }} ALL=(ALL) NOPASSWD: /usr/bin/pacman *"
    create: true
    mode: '0440'
    validate: /usr/sbin/visudo -cf %s
  become: true
  tags: ["aur-packages"]

- name: Install AUR packages
  kewlfft.aur.aur:
    name: "{{ item }}"
    use: yay
    state: present
  loop: "{{ aur_installed_packages }}"
  become: false
  tags: ["aur-packages"]

- name: Remove temporary sudoers rule for AUR
  ansible.builtin.file:
    path: /etc/sudoers.d/aur-temp
    state: absent
  become: true
  tags: ["aur-packages"]
